{% extends 'base.html' %}

{% block content %}
<h1>Pokemon List</h1>
<a href="{% url 'caughtPokemons_create' %}">Create a new Pokemon</a>
<div class="row">
    {% for pokemon in pokemons %}
    <div class="col l3 m4 s12">
        <div class="card">
            <div class="card-image">
                <img src="https://www.w3schools.com/w3css/img_lights.jpg">
                <span class="card-title">{{ pokemon.nickname }}</span>
            </div>
            <div class="card-content">
                <p>{{ pokemon.trainer_id }}'s {{ pokemon.pokedex_id.name }}</p>
                
            </div>
            <div class="card-action">
                <p>{{ pokemon.description }}</p>
                <a href="{% url 'caughtPokemons_detail' pokemon.id%}">Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
