<!-- base.html -->
{% load staticfiles %}
{% load materializecss %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collect em' All</title>
    {% block css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% endblock css %}
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper red">
                <ul>
                    <li><a href="{% url 'home' %}" class="left brand-logo">&nbsp;&nbsp;Gotta Collect em' All</a></li>
                </ul>
                <ul class="right">
                    {% if user.is_authenticated %}
                        <li>Welcome {{ user.username }}&nbsp;&nbsp;|</li> 
                        <li><a href="{% url 'profiles_detail' user.id %}" class="right">Profile</a></li>
                        <li><a href="{% url 'logout' %}" class="right">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'signup' %}" class="right">Sign up</a></li>
                        <li><a href="{% url 'login' %}" class="right">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <br>
    <main class="container">
    {% block content %}
    {% endblock %}
    </main>

    <footer class="page-footer red">
        <div class="footer-copyright">
            <div class="container"> 
                <a class="grey-text text-lighten-4 right" href="//linkedin.com/in/henry-s-hong" target="_blank">
                    2018 - Henry Hong</a>
            </div>
        </div>
    </footer>
    {% block javascript %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
        <!-- Manual Fix for DatePicker widget -->
        <script>
            var dateEl = document.getElementById('id_capture_date');
            M.Datepicker.init(dateEl, {
                format: 'yyyy-mm-dd',
                defaultDate: new Date(),
                setDefaultDate: true,
                autoClose: true
            });
        </script>
        <script>
            M.AutoInit();
        </script>
        <script>
            function changeArt(clickedNode, url) {
                let img = clickedNode.parentNode.parentNode.parentNode.children[0].children[0];
                img.src = url;
            }
        </script>
    {% endblock javascript %}
</body>
</html>