{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col l3 m6 s12">
        <div class="card">
            <div class="card-image">
                <img src="https://www.w3schools.com/w3css/img_lights.jpg">
                <span class="card-title">Maps</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="{% url 'maps_index' %}">Explore</a>
            </div>
        </div>
    </div>
    
    <div class="col l3 m6 s12">
        <div class="card">
            <div class="card-image">
                <img src="https://www.w3schools.com/w3css/img_lights.jpg">
                <span class="card-title">Leaderboard</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">Explore</a>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card">
            <div class="card-image">
                <img src="https://www.w3schools.com/w3css/img_lights.jpg">
                <span class="card-title">Pokebox</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="{% url 'pokebox_index' %}">Pokebox</a>
            </div>
        </div>
    </div>
    <div class="col l3 m6 s12">
        <div class="card">
            <div class="card-image">
                <img src="https://www.w3schools.com/w3css/img_lights.jpg">
                <span class="card-title">Pokedex</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="{% url 'pokedex' %}">View Pokedex</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}