<!-- home.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col l3 m6 s12">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.imgur.com/r59D5GU.png">
                    <span class="card-title">Maps</span>
                </div>
                <div class="card-content">
                    <p>Explore the world! Catch pokemon!</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'maps_index' %}">Explore</a>
                </div>
            </div>
        </div>
        
        <div class="col l3 m6 s12">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.w3schools.com/w3css/img_lights.jpg">
                    <span class="card-title">Leaderboard</span>
                </div>
                <div class="card-content">
                    <p>See the top trainers around the world!</p>
                    <p>Feature not yet fully functional.</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'leaderboard' %}">Explore</a>
                </div>
            </div>
        </div>
        <div class="col l3 m6 s12">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.imgur.com/hqpAayJ.png">
                    <span class="card-title">Pokebox</span>
                </div>
                <div class="card-content">
                    <p>View all the pokemon you've caught so far!</p>
                </div>
                <div class="card-action">
                    {% if user.is_authenticated %}
                        <a href="{% url 'pokebox_detail' user.id %}">Pokebox</a>
                    {% else %}
                        <a href="{% url 'pokebox_index' %}">Pokebox</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col l3 m6 s12">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.imgur.com/cknSSMd.png">
                    <span class="card-title">Pokedex</span>
                </div>
                <div class="card-content">
                    <p>Gen 1 Pokedex - View all catchable pokemon here!</p>
                </div>
                <div class="card-action">
                    <a href="{% url 'pokedex_index' %}">View Pokedex</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}