{% block content %}
{% load materializecss %}
<div class="col m3">
    <div class="card">
        <div class="card-image">
            <div id="img1"><img src="{{ pokemon.art_url }}"></div>
            <div id="img2"><img src="{{ pokemon.early_art_url }}"></div>
            <div id="img3"><img src="{{ pokemon.early_jp_art_url }}"></div>
        </div>
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a class="active" href="#img1">OG</a></li>
            <li class="tab"><a href="#img2">Early</a></li>
            <li class="tab"><a href="#img3">JP</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div>Test 1</div>
        </div>
    </div>
</div>
{% endblock %}