{% extends 'base.html' %}

{% block content %}
<h1>asdf</h1>

<!-- <div class="row">
    <div class="col l3 m6 s12">
        <div class="card">
            <div class="card-image">
                <img src="{{  >
                <span class="card-title grey-text text-darken-3">{{ pokemon.nickname }}</span>
            </div>
            <div class="card-content">
                <p>{{ pokemon.description }}</p>
            </div>
            <div class="card-action">
                <p class="grey-text text-darken-3">Suigomoto Art:</p>
                <a onclick="changeArt(this,  )">Original</a>
                <a onclick="changeArt(this, '{{ pokemo>Early</a>
                <a onclick="changeArt(this, '{{ pokemon.pokedex.ear">JP</a>
            </div>
        </div>
    </div>
</div> -->


{% endblock %}
<!-- 
<h1>Pokemon List</h1>
<a href="{% url 'caughtPokemons_create' %}">Create a new Pokemon</a>
<div class="row">
    //for
    <div class="col l3 m4 s12">
        <div class="card">
            <div class="card-image">
                <img src="https://www.w3schools.com/w3css/img_lights.jpg">
            </div>
            <div class="card-content">
                <p> pokemon.trainer_id }}'s pokemon.pokedex_id.name }}</p>
                
            </div>
            <div class="card-action">
                <p> pokemon.description }}</p>
                <a href="{% url 'caughtPokemons_detail' pokemon.id%}">Details</a>
            </div>
        </div>
    </div>
    //endfor
</div> -->



