{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col m4 s12">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.w3schools.com/w3css/img_lights.jpg">
                    <span class="card-title">Map1</span>
                </div>
                <div class="card-content">
                    <p>Grass Field</p>
                </div>
                <div class="card-action">
                    <a href="#">Search for Pokemon!</a>
                </div>
            </div>
        </div>
        
        <div class="col m4 s12">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.w3schools.com/w3css/img_lights.jpg">
                    <span class="card-title">Map2</span>
                </div>
                <div class="card-content">
                    <p>Rocky Mountain</p>
                </div>
                <div class="card-action">
                    <a href="#">Search for Pokemon!</a>
                </div>
            </div>
        </div>
        <div class="col m4 s12">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.w3schools.com/w3css/img_lights.jpg">
                    <span class="card-title">Map3</span>
                </div>
                <div class="card-content">
                    <p>Watery Water</p>
                </div>
                <div class="card-action">
                    <a href="#">Search for Pokemon!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}