<!-- maps/index.html -->
{% extends 'base.html' %}

{% block content %}
<div class="row">
{% for pokefield in pokefields %}
    <div class="col m4 s12">
        <div class="card">
            <div class="card-image">
                {% if pokefield.id == 1 %}
                    <img src="https://i.imgur.com/JKxTCW7.png">
                {% elif pokefield.id == 2 %}
                    <img src="https://i.imgur.com/jaTE6dp.png">
                {% elif pokefield.id == 3 %}
                    <img src="https://i.imgur.com/JDHlMuH.png">
                {% elif pokefield.id == 4 %}
                    <img src="https://i.imgur.com/V6jsstm.png">
                {% elif pokefield.id == 5 %}
                    <img src="https://i.imgur.com/YMAiRGV.png">
                {% elif pokefield.id == 6 %}
                    <img src="https://i.imgur.com/SfcHOU9.png">
                {% endif %}

                <!-- <img src="https://www.w3schools.com/w3css/img_lights.jpg"> -->
                <span class="card-title">{{ pokefield.name }}</span>
            </div>
            <div class="card-content">
                {% if pokefield.id == 1 %}
                    <p>Low level pokemon can be found here!</p>
                {% elif pokefield.id == 2 %}
                    <p>For Bug pokemon enthusiasts and more!</p>
                {% elif pokefield.id == 3 %}
                    <p>Caves like this attract not only cave pokemon, but seemingly also pokemon from space..</p>
                {% elif pokefield.id == 4 %}
                    <p>Reefs and tide pools with mystical properties</p>
                {% elif pokefield.id == 5 %}
                    <p>The great Safari Zone!</p>
                    <p>-500 steps per entry ticket!-</p>
                    <p>-No poaching!-</p>
                    <p>-No exceptions!-</p>
                {% elif pokefield.id == 6 %}
                    <p>The Final destination</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'maps_detail' pokefield.id %}">Search for Pokemon!</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}