<!-- maps/index.html -->
{% extends 'base.html' %}

{% block content %}
<div class="row">
{% for pokefield in pokefields %}
    <div class="col m4 s12">
        <div class="card">
            <div class="card-image">
                <img src="https://www.w3schools.com/w3css/img_lights.jpg">
                <span class="card-title">{{ pokefield.name }}</span>
            </div>
            <div class="card-content">
                <p>text</p>
            </div>
            <div class="card-action">
                <a href="{% url 'maps_detail' pokefield.id %}">Search for Pokemon!</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}